.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.721), #ac00ac69),url("../../../../Images/banner.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2{
    color:#fff;
    font-size:40px;
    padding:0px;
    width: 80%;
    margin: auto;

}

@media only screen and (max-width: 600px) {
    .banner h2{
        color:#fff;
        font-size:20px;
        width: 80%;
        margin: auto;
        padding: 0px;
    }
  }